[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Denis Poisson (digitalfishpond)
	owner = group user/Jakub Wachowski (samirjorina)
[access "refs/for/refs/*"]
	read = group user/Denis Poisson (digitalfishpond)
	read = group user/Jakub Wachowski (samirjorina)
	push = group user/Denis Poisson (digitalfishpond)
	push = group user/Jakub Wachowski (samirjorina)
	label-Code-Review = -2..+2 group user/Denis Poisson (digitalfishpond)
	label-Code-Review = -2..+2 group user/Jakub Wachowski (samirjorina)
	label-Verified = -1..+1 group user/Denis Poisson (digitalfishpond)
	label-Verified = -1..+1 group user/Jakub Wachowski (samirjorina)
	rebase = group user/Denis Poisson (digitalfishpond)
	rebase = group user/Jakub Wachowski (samirjorina)
	removeReviewer = group user/Denis Poisson (digitalfishpond)
	removeReviewer = group user/Jakub Wachowski (samirjorina)
	submit = group user/Denis Poisson (digitalfishpond)
	submit = group user/Jakub Wachowski (samirjorina)
[access "refs/heads/*"]
	read = group user/Denis Poisson (digitalfishpond)
	read = group user/Jakub Wachowski (samirjorina)
	create = group user/Denis Poisson (digitalfishpond)
	create = group user/Jakub Wachowski (samirjorina)
	push = group user/Denis Poisson (digitalfishpond)
	push = +force group user/Jakub Wachowski (samirjorina)
	pushMerge = group user/Denis Poisson (digitalfishpond)
	pushMerge = group user/Jakub Wachowski (samirjorina)
[access "refs/tags/*"]
	push = +force group user/Denis Poisson (digitalfishpond)
	push = group user/Jakub Wachowski (samirjorina)
	push = +force group user/Jakub Wachowski (samirjorina)
